.contents
  = render partial: "/layouts/side_menu", locals: { groups: @groups }

  .talks
    .talk__header
      .talk__header__info
        .talk__header__info__group test
        .talk__header__info__member Member : uki2
      = link_to "Edit", "groups/3/edit", class: "talk__header__edit"
    
    .talk__board
      .talk 
        %p.talk__sender UKI
        %p.talk__send_at 2019-05-15 21:00
        %p.talk__text hello

    = form_for [@group, @message], :url => {:action => 'create'} do |f|
      = f.text_field :text, class: "talk__form__text", placeholder: "type text"
      = f.label :image, class: "talk__form__image-label" do
        %i.fa.fa-picture-o
        = f.file_field :image, class: "talk__form__image-label__image"
      = f.submit "Send", class: "talk__form__submit"    
